@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

img {
  height: 100%;
  width: 90%;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.igm {
  height: 1200px;
  width: 1519px;


  display: flex;
  position: absolute;
}

.img-container {
  background-image: url(./images/tour1.jpg);
  background-size: cover;
  height: 150vh;
  width: 100vw;
  z-index: -7;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

}
.img-logo {
  height: 400px;
  width: 450px;
  filter: drop-shadow(9px 9px 10px rgb(255, 217, 0));
  margin-top: 100px;
}
.about-cont {
  height: 750px;
  transform: skewY(-14deg);
  background-color: rgb(255, 255, 255);
}
.imges {
  height: 250px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px;
  object-fit: cover;
  transform: skewY(-14deg);
}
.img-box {
  height: 700px;
  width: 100vw;
  transform: skewY(-14deg);
  position: relative;
}

p {
  width: 60%;
  margin: 0px auto;
  font-size: 22px;
  transform: skewY(14deg);
  margin-top: 5px;
  font-weight: 500;
  font-family: poppins, sans-serif;
}

.ji {
  margin-top: 7px;
}
h2 {
  width: 60%;
  margin: 50px auto;
  transform: skewY(14deg);
  font-size: 25px;
  font-family: poppins, sans-serif;
}
h1 {
  position: relative;
  font-size: 45px;
  transform: skewY(14deg);
  padding-top: 180px;
  width: 60%;
  margin: 50px auto;
  font-family: Georgia, sans-serif;
}
.ig1 {
  background-image: url(./images/ph1.jpg);
  background-size: cover;
}
.ig2 {
  background-image: url(./images/ph2.jpg);
  background-size: cover;
}
.ig3 {
  background-image: url(./images/ph3.jpg);
  background-size: cover;
}
.ig4 {
  background-image: url(./images/ph4.jpg);
  background-size: cover;
}
.ig5 {
  background-image: url(./images/ph5.jpg);
  background-size: cover;
}
.mamber {
  height: 700px;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  transform: skewY(-14deg);
  position: relative;
}
.client {
  height: 700px;
  width: 100vw;
  margin-top: 0px;
  background-color: rgb(122, 122, 122);
  transform: skewY(-14deg);
  position: relative;
}
.mem {
  padding-top: 70px;
  margin-right: 200px;
}
.mem2 {
  margin-right: 200px;
}
.m1 {
  display: inline-block;
  height: 300px;
  width: 200px;
  position: relative;
  margin-left: 300px;
  margin-top: 80px;
  border: solid 3px grey;
  transform: skewY(14deg);
}
.m2 {
  display: inline-block;
  height: 300px;
  width: 200px;
  position: relative;
  margin-left: 100px;
  border: solid 3px grey;
  transform: skewY(14deg);
}
.m3 {
  display: inline-block;
  height: 300px;
  width: 200px;
  position: relative;
  margin-left: 100px;
  border: solid 3px grey;
  transform: skewY(14deg);
}
.m11 {
  border: solid 3px grey;
  border-radius: 50%;
  width: 45%;
  margin-top: 25%;
  margin-left: 50px;
  height: 29%;
}
.name {
  text-align: center;
  margin-top: 20px;
  font-family: poppins, sans-serif;
}
.name2 {
  text-align: center;
  margin-top: 25px;
}
.line {
  transform: skewY(0deg);
  margin: 0%;
  align-items: center;
  margin-left: 50px;
  margin-top: 35px;
  border: solid 2px grey;
  border-radius: 5px;
  height: 0px;
  width: 50%;
  filter: drop-shadow(0px 0px 5px black);
}
