@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    font-family: poppins, sans-serif;
}

.textbox input{
    width: 100%;
    font-size: 15px;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button [type=submit] {
    width: 100%;
    background-color: #2f333d;
    color: white;
    padding: 14px 20px;
    font-size: 15px;
    margin: 8px 0px 20px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

input[type=submit]:hover {
    background-color: #21242a;
    border-radius: 4px;
    color: white;
}

.container {
    position: absolute;
    top: 50%;
    transform: translate(65%, -50%);
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px 40px;
}

.container label {
    font-size: 20px;
}

.container h2 {
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.err{
    color: red;
}