* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainsection {
    display: grid;
    gap: 5rem;
    height: 90vh;
    width: 60%;
    margin: auto;
}

.grid {
    grid-template-columns: repeat(2, 1fr);
}

.firstcontainer {
    display: flex;
    justify-content: center;
    /* background-color: rgb(227, 205, 248); */
    flex-direction: column;
}

.firstcontainer h2 {
    font-weight: 800;
    font-size: 34px;
    padding-bottom: 25px;
    color: black;
}

.firstcontainer p {
    font-size: 20px;
    color: rgb(32, 32, 32);
    font-weight: 500;
}

.secondcontainer {
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(228, 201, 253); */
}

.txtbox label {
    font-size: 19px;
}

.txtbox input{
    cursor: not-allowed;
}

.txtbox input,
textarea {
    outline: none;
    font-size: 15px;
    border: 1.5px solid #c0c0c1;
    padding: 6px;
    border-radius: 6px;
    background-color: #ededed;
}

.btn input {
    padding: 6px 15px;
    margin-top: 8px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #404040;
    cursor: pointer;
    color: white;
    transition: background-color 0.4s;
}

.btn input:hover {
    color: black;
    background-color: white;
}

.dots1,
.dots2 {
    background: linear-gradient(to right bottom, rgb(55, 55, 55, 0.8), rgb(55, 55, 55, 0.2));
    border-radius: 50%;
    position: absolute;
    height: 50vh;
    width: 25vw;
    opacity: 0.1;
    z-index: -10;
}

.dots1 {
    bottom: 7%;
    left: 5%;
}

.dots2 {
    top: 16%;
    right: 10%;
}

/*<==================================ResponsiveCSS===================================>*/

@media screen and (max-width: 730px) {

    .mainsection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 120vh;
    }

    .firstcontainer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1%;
    }

    .secondcontainer{
        display: flex;

    }
    .dots1, .dots2{
        width: 30vw;
        height: 50vh;
    }
    .dots1{
        bottom: -7%;
        left: -3%;
    }
    .dots2{
        top: -2%;
        right: -3%;
    }
}