/* footer css below👇............................................................................. */
.footer-container {
  background-color: rgba(36, 36, 36, 1);
}

footer {
  /* height: 45vh; */
  width: 90%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links {
  width: 32px;
  height: 32px;
}

.part1 {
  display: inline-block;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0px;
}

.footer-txt {
  color: white;
  font-family: poppins, sans-serif;
  text-transform: capitalize;
}

.address {
  display: flex;
  width: 200px;
  align-items: flex-start;
  margin: 16px 0px;
}

.copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  padding: 16px;
}
.part2{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}
.s1{
  display: flex;
  flex-direction: column;
  color: snow;
}
.s1 .foot-title{
  margin: 16px 0px;
}
.s1 .foot-links{
  color: snow;
  text-decoration: none;
}
.s1 .button{
  color: snow;
}
@media screen and (max-width: 650px){
footer{
  flex-direction: column;
}

}