* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4C5270;
  }
.container1
{
    position:absolute;
    width: 100%;
    height: 100%;
}
.container2
{
    position: absolute;
    width: 565px;
    height: 321px;
    left: 100px;
    top: 130px;
    background: #F652A0;
}
.n1{
position: absolute;
width: 535px;
height: 367px;
left: 100px;
top: 500px;
display: inline-table;

}
label
{
font-family: 'PT Serif';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 53px;
text-transform: capitalize;
color: #36EEE0;
}

.t1
{
margin-left: 10px;
margin-bottom:15px;
width: 246px;
height: 55px;
margin-left: 50px;
top: 400px;
border-radius: 5px;
background-color:  white;
}
textarea{
    border-radius: 5px;
width: 351px;
margin-left: 25px;
height: 154px;
left: 100px;
top: 705px;
background-color: white;
}
.t2
{
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom:15px;
    width: 246px;
    height: 55px;
    margin-left: 30px;
    top: 400px;
    background-color: white;
}
.t3
{
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom:15px;
    width: 246px;
    height: 55px;
    margin-left: 10px;
    top: 400px;
    background-color: white;
}