
*
{
    background-color: rgba(201, 173, 167, 1);
}
.image
{
position: absolute;
width: 167px;
height: 167px;
left: 82px;
top: 187px;
background-color: rgb(255, 255, 255);
border-radius: 50%;
}
.im1
{
position: absolute;
width: 253px;
height: 36px;
left: 45px;
top: 385px;

}
h3
{
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
color: #22223B;
}
.h
{
    width: 400px;
}
.b
{
font-weight: bold;
position: absolute;
top: 277px;
}
hr 
{ 
    position: absolute;
    width: 410px;
    height: 0px;
    top: 340px;
    border: 5px solid #22223B;
    border-radius: 5px;
} 
.ski
{
position: absolute;
width: 400px;
height: 422px;
top: 360px;
}
.l
{
    position: absolute;
    width: 188px;
    height: 52px;
    font-weight: bold;
    top: 820px;
}
.hre
{
position: absolute;
width: 410px;
height: 0px;
top: 886px;
border: 5px solid #22223B;
}
.leng
{
    position: absolute;
width: 150px;
height: 55px;
left: 10px;
top: 940px;
background: #22223B;
border-radius: 10px;
}
.leng2
{
position: absolute;
width: 150px;
height: 55px;
left: 252px;
top: 940px;
background: #22223B;
border-radius: 10px;
}
.leng3
{
    position: absolute;
    left: 30px;
    top: 948px;
    background-color: #22223B;
    color: rgba(201, 173, 167, 1);
 
}
.leng4
{
    position: absolute;
    left: 284px;
    top: 948px;
    background-color: #22223B;
    color: rgba(201, 173, 167, 1);
}