@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-img {
  height: 70px;
  width: 70px;
  cursor: pointer;
}
.profile {
  height: 55px;
  width: 55px;
  cursor: pointer;
}
.nav-container {
  /* background-image: linear-gradient(
    to bottom,
    rgba(255, 181, 162, 0.753),
    rgb(152, 203, 255)
  ); */
  /* box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25); */
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  background-color: rgba(51, 47, 47, 1);
}
.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 12vh;
}
.logo {
  font-family: poppins, sans-serif;
  font-weight: 900;
  outline: none;
  font-size: 36px;
  letter-spacing: 10px;
  color: rgb(255, 255, 255);
  flex: 2;
  margin: 0px 10px;
  -webkit-text-stroke: 1px rgba(74, 74, 74, 1);
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.nav-ul {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
.nav-option {
  list-style: none;
  transition-duration: 0.5s;
}
.nav-option a {
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: rgb(255, 255, 255);
}
.nav-option:hover {
  transform: scale(1.2);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
}

.burger div {
  height: 3px;
  width: 22px;
  margin: 4px;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255);
}

.burger {
  display: none;
}

.burger {
  cursor: pointer;
}

/* Burger menu css */
/* ......................................responsive design below👇 ...................................... */
@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .profile {
    display: none;
    cursor: none;
  }

  .nav-ul {
    position: absolute;
    right: 0px;
    height: 88vh;
    top: 12vh;
    background-color: rgba(51, 47, 47, 1);
    /* display: flex; */
    width: 30%;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-ul li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes nav-optionFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
