@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url("http://fonts.cdnfonts.com/css/sedan-sc");
* {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  font-family: Sedan SC, sans-serif;
}
.back {
  height: auto;
  width: 100%;
}
.ab-us {
  position: absolute;
  width: 60%;
  font-size: 50px;
  margin-top: 115vh;
  margin-left: 87vh;
}
.ab-us1 {
  position: absolute;
  width: 60%;
  font-size: 40px;
  margin-top: 130vh;
  margin-left: 53vh;
}
.ab-us2 {
  position: absolute;
  width: 70%;
  font-size: 30px;
  margin-top: 146vh;
  margin-left: 32vh;
}
.ab-us3 {
  position: absolute;
  width: auto;
  font-size: 55px;
  margin-top: 325vh;
  margin-left: 45vh;
}
.ab-us4 {
  position: absolute;
  width: auto;
  font-size: 30px;
  margin-top: 351vh;
  margin-left: 38vh;
}
.ab-us5 {
  position: absolute;
  width: auto;
  font-size: 18px;
  margin-top: 356vh;
  margin-left: 38vh;
  opacity: 80%;
}
.ab-us6 {
  position: absolute;
  width: 200px;
  font-size: 18px;
  margin-top: 365vh;
  margin-left: 26vh;
}
.ab-us7 {
  position: absolute;
  width: 200px;
  font-size: 30px;
  margin-top: 351vh;
  margin-left: 98vh;
}
.ab-us8 {
  position: absolute;
  width: 200px;
  font-size: 18px;
  margin-top: 356vh;
  margin-left: 98vh;
  opacity: 80%;
}
.ab-us9 {
  position: absolute;
  width: 200px;
  font-size: 18px;
  margin-top: 365vh;
  margin-left: 86vh;
}
.ab-us10 {
  position: absolute;
  width: 200px;
  font-size: 30px;
  margin-top: 351vh;
  margin-left: 157vh;
}
.ab-us11 {
  position: absolute;
  width: 200px;
  font-size: 18px;
  margin-top: 356vh;
  margin-left: 157vh;
  opacity: 80%;
}
.ab-us12 {
  position: absolute;
  width: 200px;
  font-size: 18px;
  margin-top: 365vh;
  margin-left: 146vh;
}

.section::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to top,
    #2931cc 0%,
    #a166bd 49%,
    #ffab7b 100%
  );
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(180deg, #ff2bb8 0%, #002fff 99%);
}
.footer-container {
  background-color: rgba(36, 36, 36, 1);
}
footer {
  /* height: 45vh; */
  width: 90%;
  margin: 0px auto;
}
.social-links {
  width: 32px;
  height: 32px;
}
.part1 {
  display: inline-block;
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0px;
}
.footer-txt {
  color: white;
  font-family: poppins, sans-serif;
  text-transform: capitalize;
}
.address {
  display: flex;
  width: 200px;
  align-items: flex-start;
  margin: 16px 0px;
}
.copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  padding: 16px;
}
