@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(255, 255, 255);
}

.navbar {
  background-color: rgb(29, 29, 29);
  display: block;
  height: auto;
  min-height: 100vh;
  width: 20%;
  min-width: 300px;
}

.nav-ul {
  color: snow;
  font-family: poppins, sans-serif;
  margin: 32px 24px;
  list-style: none;
  font-size: 1.5rem;
  transition: 1s;
}

.options1,
.options2 {
  margin-left: 18px;
  color: rgb(29, 29, 29);
  background-color: snow;
  border-radius: 12px;
  padding: 8px;
  list-style: none;
  text-align: left;
  display: none;
}

.nav-link1,
.nav-link2 {
  width: 100%;
  text-decoration: none;
  color: white;
}

.option-link {
  font-size: 0.8rem !important;
  margin: 5px;
  width: 100%;
}

.nav-link1:hover,
.nav-link2:hover {
  cursor: pointer;
}

.nav-link1:hover .options1 {
  display: inline-block;
}

.nav-link2:hover .options2 {
  display: inline-block;
}

.nav-link1,
.nav-link2 {
  margin: 32px 0px;
}

.nav-link1 span,
.nav-link2 span {
  font-size: 0.9rem;
}

.description {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: 400;
}

.logo-svg .logo-text,
.plane>*,
.location .Vector,
.sndo>* {
  fill: white !important;
}

.logo-svg .strok {
  stroke: white !important;
}

.location .Vector_2 {
  fill: black;
}

.welcome {
  color: snow;
  font-family: poppins, sans-serif;
  font-weight: 300;
}

.nav-link3:visited{
  color: white;
}

.a1, .a2, .a3, .a4{
  text-decoration: none;
}


